.fw-light {
    font-weight: 300;
}

.fw-normal {
    font-weight: 400;
}

.fw-heavy {
    font-weight: 600;
}

.fw-bold {
    font-weight: 700;
}

@each $bp, $size in $breakpoints {
    @media (min-width: $size) {

        .fw-light-#{$bp} {
            font-weight: 300;
        }
        
        .fw-normal-#{$bp} {
            font-weight: 400;
        }
        
        .fw-heavy-#{$bp} {
            font-weight: 600;
        }
        
        .fw-bold-#{$bp} {
            font-weight: 700;
        }

    }
}