@each $i in $steps {

    .mx-#{$i} {
        margin-left: rem($i);
        margin-right: rem($i);
    }

    .my-#{$i} {
        margin-top: rem($i);
        margin-bottom: rem($i);
    }

    .mt-#{$i} {
        margin-top: rem($i);
    }

    .mb-#{$i} {
        margin-bottom: rem($i);
    }

    .ml-#{$i} {
        margin-left: rem($i);
    }

    .mr-#{$i} {
        margin-right: rem($i);
    }

    .m-#{$i} {
        margin: rem($i);
    }

}

@each $bp, $size in $breakpoints {
    @media (min-width: $size) {
        @each $i in $steps {

            .mx-#{$i}-#{$bp} {
                margin-left: rem($i);
                margin-right: rem($i);
            }

            .my-#{$i}-#{$bp} {
                margin-top: rem($i);
                margin-bottom: rem($i);
            }

            .mt-#{$i}-#{$bp} {
                margin-top: rem($i);
            }

            .mb-#{$i}-#{$bp} {
                margin-bottom: rem($i);
            }

            .ml-#{$i}-#{$bp} {
                margin-left: rem($i);
            }

            .mr-#{$i}-#{$bp} {
                margin-right: rem($i);
            }

            .m-#{$i}-#{$bp} {
                margin: rem($i);
            }

        }
    }
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

@each $bp, $size in $breakpoints {
    @media (min-width: $size) {

        .mx-auto-#{$bp} {
            margin-left: auto;
            margin-right: auto;
        }

        .ml-auto-#{$bp} {
            margin-left: auto;
        }

        .mr-auto-#{$bp} {
            margin-right: auto;
        }

    }
}
